/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 28, 2014, 12:45:54 AM
    Author     : Foad
*/
* {
    margin             : 0;
    padding            : 0;
    box-sizing         : border-box;
    -webkit-box-sizing : border-box
}

html {
    background-color : #f3f3f3;
}

body {
    font-family : "Open Sans";
}

.wrap {
    width            : 100%;
    padding          : 50px;
    background-color : #ffffff;
}

#wrapper {
    width      : 100%;
    /*margin     : 10px auto;*/
    /*border        : 1px solid #DDD;*/
    /*border-radius : 3px;*/
    /*padding    : 10px 0 50px;*/
    /*background    : #f4f4f4;*/
    overflow   : hidden;
    text-align : center;
}

.ltr {
    border        : none;
    width         : 49.5%;
    float         : left;
    margin        : 0 .25%;
    border-radius : 3px;
    color         : #444444;
}

#ltr-editor {
    width         : 100%;
    height        : 55vh;
    border-radius : 3px;
    margin        : 10px 0 10px;
}

.rtl {

    border-left   : none;
    width         : 49.5%;
    float         : right;
    margin        : 0 .25%;
    border-radius : 3px;
    color         : #444444;
}

#rtl-editor {
    width         : 100%;
    height        : 55vh;
    border-radius : 3px;
    margin        : 10px 0 10px;
}

.ltr-hint {
    padding    : 0 20px;
    text-align : left;
    font-size  : 13px;
    color      : #555555;
}

.red {
    color : rgba(255, 17, 0, 0.67);
}

.clear {
    clear : both;
}

.right {
    float : right;
}

.left {
    float : left;
}

.center {
    text-align : center;
    margin     : auto;
}

textarea {
    height : 70vh;
    width  : 100%;
}

input[type="submit"] {
    padding : 5px 10px;
    font    : bold 12px Tahoma;
    margin  : 5px auto;
}

form input[type="checkbox"] {
    margin : 30px 0 10px 30px;
}

form label {
    font-size      : 14px;
    color          : #444444;
    vertical-align : middle;
    display        : inline-block;
}

input[type=checkbox][disabled] + label {
    color : #cccccc;
}

.green-btn {
    color            : #ffffff;
    border           : 2px solid #27ae60;
    padding          : 7px 100px;
    background-color : #2ecc71;
    border-radius    : 3px;
    font-weight      : bold;
    margin-top       : 10px;
    text-decoration  : none;
}

.green-btn:hover {
    background : #27ae60;
    cursor     : pointer;
}

header {
    width         : 100%;
    min-height    : 80px;
    border-bottom : 1px solid #e3e3e3;
    background    : #ffffff;
    padding       : 15px;
    box-shadow    : 0 1px 1px rgba(150, 150, 150, .1);
    color         : #444444;
}

footer {
    width       : 100%;
    height      : 80px;
    padding     : 30px 50px;
    background  : #f0f7f7;
    color       : #444444;
    box-shadow  : 0 5px 1px rgba(150, 150, 150, .1);
    font-weight : 200;
    font-size   : 14px;
    border-top  : 3px solid #dde8e8;
}

h1, h2, h3, h4, h5, h6 {
    font-family : "Open Sans", serif;
}

nav ul {
}

nav ul li {
    list-style  : none;
    float       : left;
    margin-left : 20px;
}

nav ul li a {
    text-decoration : none;
    color           : #444444;
}

nav ul li a:hover {
    text-decoration : underline
}

#stat {
    border-top       : 1px solid #e3e3e3;
    background-color : #e3e3e3;
    padding          : 60px 0 10px;
}

#stat ul {
    width         : 100%;
    text-align    : center;
    margin-bottom : 30px;
}

#stat ul li {
    width      : 32%;
    list-style : none;
    display    : inline-block;

    color      : #888888;
}

#stat ul li span {
    font-size : 40px;
    clear     : both;
    display   : block;
    color     : #000000;
}

#stat p {
    font-size  : 12px;
    text-align : center;
    padding    : 0 50px;
    color      : #888888;
}

#content {
    width      : 100%;
    border-top : 1px solid #dddddd;
}

.title {
    text-align : left;
    width      : 100%;
}

.title span {
    font-size : 12px;
    color     : #666666;
}

.tips {
    width    : 100%;
    margin   : 10px 0;
    overflow : hidden;
}

.tips p {
    padding     : 10px;
    font        : 16px "Open Sans";
    line-height : 22px;
}

pre {
    height : 85px;
}

.code {
    border-top    : 1px solid #dddddd;
    width         : 100%;
    padding       : 5px;
    margin        : 0;
    white-space   : pre-line;
    border-radius : 0 0 3px 3px;
}

.hint {
    font-size  : 14px;
    margin-top : 20px;
}

.hint > span {
    color : #aaaaaa;

}

.pay-hint {
    font-size  : 12px;
    margin-top : 20px;
    color      : #999999;
}

.donate {
    display          : block;
    text-align       : center;
    background-color : #f9f9f9;
    border-bottom    : 1px solid #f3f3f3;
    padding          : 30px;
    width            : 100%;
}

.gift {
    text-align       : center;
    background-color : #f9f9f9;
    padding          : 30px 30px 10px;
    width            : 100%;
    color            : #888888;
    text-decoration  : none;
}

#donate-btn {
    display : none;
}

.love {
    width      : 100%;
    background : #ffffff;
    padding    : 70px;
    border     : 1px solid #dddddd;
}

.love-inner {

    width    : fit-content;
    width    : -moz-fit-content;
    margin   : auto;
    position : relative;
    display  : table;
}

.love-stat {
    margin-left : 50px;

}

.loves_number {
    margin-top : 50px;
    /*font-weight: bold;*/
    font-size  : 32px;
    color      : #444444;
}

.heart {
    width      : 100px;
    height     : 100px;
    position   : absolute;
    left       : 10%;
    top        : 50%;
    transform  : translate(-50%, -50%);
    background : url(heart.png) no-repeat 0 0;
    cursor     : pointer;
    animation  : fave-heart 1s steps(28);
}

.heart:hover {
    background-position : -2800px 0;
    transition          : background 1s steps(28);
}

.tabl {
    width         : 280px;
    height        : 66px;
    border        : 1px solid #2980b9;
    border-radius : 5px;
    position      : fixed;
    right         : 10px;
    bottom        : 10px;
    z-index       : 99;
    background    : #FFF;
    /*overflow      : hidden;*/

}

.tabl .image {
    width        : 65px;
    height       : 100%;
    float        : left;
    border-right : 1px solid #2980b9;
    text-align   : center;
}

.tabl .image img {
    background : #FFF;
    zoom       : .8;
    width: 100%;
}

.tabl .tabl-entry {
    float       : left;
    padding     : 10px;
    font-family : "Open Sans", serif;
}

.tabl .tabl-entry a {
    font-family     : Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size       : 13px;
    color           : #444444;
    text-decoration : none;
}

.tabl i {
    color : #2980b9;
}

@keyframes fave-heart {
    0% {
        background-position : 0 0;
    }
    100% {
        background-position : -2800px 0;
    }
}

@media only screen and(max-width : 769px) {
    .rtl, .ltr {
        width : 100%;
    }

    #stat ul li {
        width         : 100%;
        display       : block;
        margin-bottom : 20px;
    }

    .tabl {
        display : none;
    }
}